* {
  box-sizing: border-box;
}

.calendar-container,
.calendar,
.calendar-header,
td,
tr {
    padding: 0;
    margin: 0;
}

.calendar-container {
    border: 1px solid #b9cced;
    position: relative;
    width: 280px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.calendar {
  width: 100%;
}

.calendar-header {
  background-color: #b9cced;
  height: 30px;
  padding: 0;
}

.button-month,
.button-year {
  background-color: inherit;
  border: none;
  color: #6e5773;
  cursor: pointer;
}

.button-year {
  font-weight: bold;
}

.button-next,
.button-prev {
  background-color: inherit;
  border: none;
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 3px;
  cursor: pointer;
  outline: none;
}

.button-prev {
  margin-left: 10px;
}

.button-next::before,
.button-prev::before {
  position: absolute;
  content: '';
  top: 5px;
  transform: translateY(-50%);
  left: 10px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #6e5773;
  border-left: 2px solid #6e5773;
}

.button-prev::before {
  transform: rotate(-45deg);
}

.button-next::before {
  transform: rotate(135deg);
}

.week-day {
  text-align: center;
  padding: 5px;
  color: #6e5773;
  background-color: #ea9085;
}

.day span {
  display: block;
  text-align: center;
  padding: 5px;
  color: #6e5773;
  cursor: pointer;
}

.editor-year {
  width: 50px;
  background-color: inherit;
  border: none;
  outline: none;
  font-weight: bold;
  color: #6e5773;
}

.button-month {
  position: relative;
  outline: none;
}

.month-popup {
  position: absolute;
  left: 0;
  top: 27px;
  background-color: #b9cced;
}

.option-month {
  width: 100%;
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: #6e5773;
}
